@font-face {
  font-family: 'remixicon';
  src: url('./remixicon/remixicon.eot?t=1692285596377'); /* IE9*/
  src: url('./remixicon/remixicon.eot?t=1692285596377#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./remixicon/remixicon.woff2?t=1692285596377') format('woff2'),
  url('./remixicon/remixicon.woff?t=1692285596377') format('woff'),
  url('./remixicon/remixicon.ttf?t=1692285596377') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./remixicon/remixicon.svg?t=1692285596377#remixicon') format('svg'); /* iOS 4.1- */
  font-display: swap;
}

.rmel-iconfont {
  font-family: 'remixicon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rmel-icon-tab:before {
  content: '\ee55';
}
.rmel-icon-keyboard:before {
  content: '\ee75';
}
.rmel-icon-delete:before {
  content: '\ec28';
}
.rmel-icon-code-block:before {
  content: '\ebad';
}
.rmel-icon-code:before {
  content: '\ebab';
}
.rmel-icon-visibility:before {
  content: '\ecb5';
}
.rmel-icon-view-split:before {
  content: '\ee8d';
}
.rmel-icon-link:before {
  content: '\eeb2';
}
.rmel-icon-redo:before {
  content: '\ea5a';
}
.rmel-icon-undo:before {
  content: '\ea58';
}
.rmel-icon-bold:before {
  content: '\ead1';
}
.rmel-icon-italic:before {
  content: '\ee6b';
}
.rmel-icon-list-ordered:before {
  content: '\eebb';
}
.rmel-icon-list-unordered:before {
  content: '\eebe';
}
.rmel-icon-quote:before {
  content: '\ec52';
}
.rmel-icon-strikethrough:before {
  content: '\f1ab';
}
.rmel-icon-underline:before {
  content: '\f244';
}
.rmel-icon-wrap:before {
  content: '\f200';
}
.rmel-icon-font-size:before {
  content: '\ed8c';
}
.rmel-icon-grid:before {
  content: '\eddf';
}
.rmel-icon-image:before {
  content: '\ee4b';
}
.rmel-icon-expand-less:before {
  content: '\ea78';
}
.rmel-icon-expand-more:before {
  content: '\ea4e';
}
.rmel-icon-fullscreen-exit:before {
  content: '\ed9a';
}
.rmel-icon-fullscreen:before {
  content: '\ed9c';
}
.rc-md-editor {
  padding-bottom: 1px;
  position: relative;
  /* border: 1px solid #e0e0e0; */
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.rc-md-editor.full {
  width: 100%;
  height: 100% !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.rc-md-editor .editor-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 0;
  position: relative;
}
.rc-md-editor .editor-container > .section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 1px;
  -ms-flex-preferred-size: 1px;
  flex-basis: 1px;
  border-right: 1px solid #e0e0e0;
}
.rc-md-editor .editor-container > .section.in-visible {
  display: none;
}
.rc-md-editor .editor-container > .section > .section-container {
  padding: 12px 16px;
}
.rc-md-editor .editor-container > .section:last-child {
  border-radius: none;
}
.rc-md-editor .editor-container .sec-md {
  min-height: 0;
  min-width: 0;
}
.rc-md-editor .editor-container .sec-md .input {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: none;
  resize: none;
  outline: none;
  min-height: 0;
  background: #fff;
  color: #1E2022;
  font-size: 14px;
  line-height: 20px;
}
.rc-md-editor .editor-container .sec-html {
  min-height: 0;
  min-width: 0;
}
.rc-md-editor .editor-container .sec-html .html-wrap {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}
.custom-html-style {
  color: #333;
}
.custom-html-style h1 {
  font-size: 32px;
  padding: 0;
  border: none;
  font-weight: 700;
  margin: 32px 0;
  line-height: 1.2;
}
.custom-html-style h2 {
  font-size: 24px;
  padding: 0;
  border: none;
  font-weight: 700;
  margin: 24px 0;
  line-height: 1.7;
}
.custom-html-style h3 {
  font-size: 18px;
  margin: 18px 0;
  padding: 0;
  line-height: 1.7;
  border: none;
}
.custom-html-style p {
  font-size: 14px;
  line-height: 1.7;
  margin: 8px 0;
}
.custom-html-style a {
  color: #0052d9;
}
.custom-html-style a:hover {
  text-decoration: none;
}
.custom-html-style strong {
  font-weight: 700;
}
.custom-html-style ol,
.custom-html-style ul {
  font-size: 14px;
  line-height: 28px;
  padding-left: 36px;
}
.custom-html-style li {
  margin-bottom: 8px;
  line-height: 1.7;
}
.custom-html-style hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.custom-html-style pre {
  display: block;
  padding: 20px;
  line-height: 28px;
  word-break: break-word;
}
.custom-html-style code,
.custom-html-style pre {
  background-color: #f5f5f5;
  font-size: 14px;
  border-radius: 0;
  overflow-x: auto;
}
.custom-html-style code {
  padding: 3px 0;
  margin: 0;
  word-break: normal;
}
.custom-html-style code:after,
.custom-html-style code:before {
  letter-spacing: 0;
}
.custom-html-style blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  color: #333;
  border: none;
  border-left: 10px solid #d6dbdf;
}
.custom-html-style img,
.custom-html-style video {
  max-width: 100%;
}
.custom-html-style table {
  font-size: 14px;
  line-height: 1.7;
  max-width: 100%;
  overflow: auto;
  border: 1px solid #f6f6f6;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-html-style table td,
.custom-html-style table th {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.custom-html-style table tr {
  border: 1px solid #efefef;
}
.custom-html-style table tr:nth-child(2n) {
  background-color: transparent;
}
.custom-html-style table th {
  text-align: center;
  font-weight: 700;
  border: 1px solid #efefef;
  padding: 10px 6px;
  background-color: #f5f7fa;
  word-break: break-word;
}
.custom-html-style table td {
  border: 1px solid #efefef;
  text-align: left;
  padding: 10px 15px;
  word-break: break-word;
  min-width: 60px;
}
.rc-md-editor .drop-wrap {
  display: block;
  position: absolute;
  left: 0;
  top: 28px;
  z-index: 2;
  min-width: 20px;
  padding: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #EBECEF;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 12px;
}
.rc-md-editor .drop-wrap.hidden {
  display: none !important;
}
.rc-md-editor .rc-md-navigation {
  min-height: 44px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #EBECEF;
  font-size: 16px;
  background: #FCFCFD;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.rc-md-editor .rc-md-navigation.in-visible {
  display: none;
}
.rc-md-editor .rc-md-navigation .navigation-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  color: #757575;
}
.rc-md-editor .rc-md-navigation .button-wrap,
.rc-md-editor .rc-md-navigation .navigation-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.rc-md-editor .rc-md-navigation .button-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.rc-md-editor .rc-md-navigation .button-wrap .button {
  position: relative;
  min-width: 24px;
  height: 28px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
  line-height: 28px;
  text-align: center;
  color: #71818B;
  transition: all .3s ease;
}
.rc-md-editor .rc-md-navigation .button-wrap .button:hover {
  color: #313131;
}
.rc-md-editor .rc-md-navigation .button-wrap .button.disabled {
  color: #bdbdbd;
  cursor: not-allowed;
}
.rc-md-editor .rc-md-navigation .button-wrap .button:first-child {
  margin-left: 0;
}
.rc-md-editor .rc-md-navigation .button-wrap .button:last-child {
  margin-right: 0;
}
.rc-md-editor .rc-md-navigation li,
.rc-md-editor .rc-md-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rc-md-editor .rc-md-navigation .h1,
.rc-md-editor .rc-md-navigation .h2,
.rc-md-editor .rc-md-navigation .h3,
.rc-md-editor .rc-md-navigation .h4,
.rc-md-editor .rc-md-navigation .h5,
.rc-md-editor .rc-md-navigation .h6,
.rc-md-editor .rc-md-navigation h1,
.rc-md-editor .rc-md-navigation h2,
.rc-md-editor .rc-md-navigation h3,
.rc-md-editor .rc-md-navigation h4,
.rc-md-editor .rc-md-navigation h5,
.rc-md-editor .rc-md-navigation h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  padding: 0;
  margin: 0;
  line-height: 1.1;
}
.rc-md-editor .rc-md-navigation h1 {
  font-size: 34px;
}
.rc-md-editor .rc-md-navigation h2 {
  font-size: 30px;
}
.rc-md-editor .rc-md-navigation h3 {
  font-size: 24px;
}
.rc-md-editor .rc-md-navigation h4 {
  font-size: 18px;
}
.rc-md-editor .rc-md-navigation h5 {
  font-size: 14px;
}
.rc-md-editor .rc-md-navigation h6 {
  font-size: 12px;
}
.rc-md-editor .tool-bar {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 8px;
}
.rc-md-editor .tool-bar .button {
  min-width: 24px;
  height: 28px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #999;
}
.rc-md-editor .tool-bar .button:hover {
  color: #333;
}
.rc-md-editor .rc-md-divider {
  display: block;
  width: 1px;
  background-color: #e0e0e0;
}
.rc-md-editor .table-list.wrap {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rc-md-editor .table-list.wrap .list-item {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F6F6F9;
  border-radius: 4px;
}
.rc-md-editor .table-list.wrap .list-item.active {
  background: #22C493;
}
.rc-md-editor .tab-map-list .list-item {
  width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rc-md-editor .tab-map-list .list-item:hover {
  background: #F8FAFC;
}
.rc-md-editor .tab-map-list .list-item.active {
  font-weight: 700;
}
.rc-md-editor .header-list .list-item {
  width: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 0;
  border-radius: 8px;
}
.rc-md-editor .header-list .list-item:hover {
  background: #F9F9FB;
}
