@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

input:disabled {
  opacity: 1; /* https://stackoverflow.com/questions/262158/disabled-input-text-color-on-ios */
}

.rc-md-editor .editor-container > .section {
  border-right: none !important;
}

.rc-md-editor .editor-container > section.visible ~ section.visible {
  border-left: 1px solid rgb(229 231 235 / var(--tw-border-opacity));
}

.prose div > iframe {
  width: 100%;
  height: 100%;
}
