@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@icon-park/react/styles/index.css';

* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}
